<div class="row">
{{#each posts as |post|}}
<div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.contents}}</p>
        <a href="/blogposts/{{post.id}}" class="btn btn-primary">View Post!</a>
      </div>
    </div>
  </div>
{{/each}}
</div>


