
<strong id="loginBanner"> Please Login or sign up</strong>


<form class="row mb-4" action="">
    <div class="col-md-4">
        <label class="form-label" for="userNameBox">Username</label> <input class="form-control" id="userNameBox" type="text">
        <label class="form-label" for="userPasswordBox">Password</label> <input class="form-control" id="userPasswordBox" type="text">
    </div>
    <div class="col-md-8"></div>


  
 
</form>

<section class="mb-4">
    <a href="/blogposts"> Go to blog posts</a>

    <a href="/users"> Go to users</a>
</section>

<h2>Sign up!</h2>
<form class="row" action="">
    <div class="col-md-4">
<label class="form-label" for="signupNameBox">Username</label> <input class="form-control" id="signupNameBox" type="text">  
<label class="form-label" for="signupEmailBox">Email</label> <input class="form-control" id="signupEmailBox" type="text">
<label class="form-label" for="signupPasswordBox">Password</label> <input class="form-control" id="signupPasswordBox" type="text">
 </div><div class="col-md-8"></div>
</form>